
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1000/xhtml">
<head th:replace="common/header :: common-header" />

<body>
	<div th:replace="common/header :: navbar" />
	
	<div class="container">
		<div class="table-responsive">
			<table id="gameListTable" class="table table-bordered table-hover table-striped">
				<thead>
					<tr>
						<th><input th:id="selectAllGames" type="checkbox" /></th>
						<th>Title</th>
						<th>Author</th>
						<th>Category</th>
						<th>List Price &#8377;</th>
						<th>Our Price &#8377;</th>
						<th>Active?</th>
						<th>Operation</th>
					</tr>
				</thead>
				<tbody>
					<tr data-th-each="game : ${gameList}">
						<td>
						<input hidden="hidden" name="id" th:value="${game.id}" />
						<input th:id="'selected'+${game.id}" class="checkboxGame" type="checkbox" />
						</td>
						<td><a th:href="@{/game/gameInfo(id=${game.id})}"><span th:text="${game.title}"></span></a></td>
						<td th:text="${game.developers}"></td>
						<td th:text="${game.category}"></td>
						<td> <span th:text="${game.listPrice}"></span>   &#8377;</td>
						<td> <span th:text="${game.ourPrice}"></span>   &#8377;</td>
						<td th:text="${game.active}"></td>
						<td>
							<input hidden="hidden" name="id" th:value="${game.id}" />
							<button th:id="'oneGame-'+${game.id}" class="btn btn-danger btn-xs delete-game" type="submit" value="delete" >
							<span class="fa fa-times"></span>Delete</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
	<button th:id="deleteSelected" class="btn btn-danger ">Delete Selected</button>
	</div>
	
	
	<div th:replace="common/header :: body-bottom-scripts" />
	
	<script>
		$(document).ready(function() {
			$("#gameListTable").DataTable({
				"lengthMenu": [[5,10,15,20,-1],[5,10,15,20,"All"]],
				"ordering": false,
				stateSave: true
			});
		});
	</script>
</body>
</html>
